.invoice-edit-wrapper .invoice-icon .dropdown .dropdown-menu::before,
.invoice-edit-wrapper .invoice-icon .dropdown .dropdown-toggle::after,
.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell::after,
.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell::before,
.invoice-list-wrapper .dataTables_wrapper .invoice-data-table thead th:last-child::after,
.invoice-list-wrapper .dataTables_wrapper .invoice-data-table thead th:last-child::before {
    display: none
}

.invoice-view-wrapper hr {
    border-style: dashed
}

.invoice-view-wrapper .invoice-info .invoice-from,
.invoice-view-wrapper .invoice-info .invoice-to {
    margin-bottom: .8rem
}

.invoice-view-wrapper .invoice-product-details .table th {
    font-weight: 500
}

.invoice-view-wrapper .invoice-product-details .table td,
.invoice-view-wrapper .invoice-product-details .table th {
    padding: .75rem 2rem
}

.invoice-view-wrapper .invoice-subtotal .invoice-calc {
    margin: .2rem 0
}

.invoice-view-wrapper .invoice-subtotal .invoice-calc .invoice-title {
    width: 171px
}

.invoice-view-wrapper .invoice-subtotal .invoice-calc .invoice-value {
    color: #304156;
    margin-bottom: 0
}

.invoice-view-wrapper .invoice-action-wrapper {
    background-color: #FAFBFB
}

.invoice-view-wrapper .invoice-action-wrapper .invoice-action-btn {
    margin-bottom: 1.2rem
}

.invoice-view-wrapper .invoice-action-wrapper .invoice-action-btn .invoice-send-btn {
    box-shadow: 0 2px 4px 0 rgba(90, 141, 238, .6)
}

.invoice-list-wrapper .dataTables_wrapper .top {
    border: 1px solid #DFE3E7;
    background-color: #FFF;
    border-top-left-radius: .267rem;
    border-top-right-radius: .267rem
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter {
    padding: 0 15px
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label {
    width: 100%;
    margin-bottom: 0;
    position: relative;
    font-family: boxicons!important;
    line-height: 1;
    font-size: 1rem
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label::after {
    position: absolute;
    content: '\eb2e';
    left: 20px;
    top: 12px
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label input {
    width: 99%;
    height: 38px;
    font-family: 'IBM Plex Sans', Helvetica, Arial, serif;
    padding-left: 2rem;
    font-size: 1rem;
    border: 1px solid #475f7b;
}


.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label input::-webkit-input-placeholder {
    font-family: 'IBM Plex Sans', Helvetica, Arial, serif;
    color: #828D99;
    font-size: 1rem
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label input::-moz-placeholder {
    font-family: 'IBM Plex Sans', Helvetica, Arial, serif;
    color: #828D99;
    font-size: 1rem
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label input:-ms-input-placeholder {
    font-family: 'IBM Plex Sans', Helvetica, Arial, serif;
    color: #828D99;
    font-size: 1rem
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label input::-ms-input-placeholder {
    font-family: 'IBM Plex Sans', Helvetica, Arial, serif;
    color: #828D99;
    font-size: 1rem
}

.invoice-list-wrapper .dataTables_wrapper .top .action-filters .dataTables_filter label input::placeholder {
    font-family: 'IBM Plex Sans', Helvetica, Arial, serif;
    color: #828D99;
    font-size: 1rem;
    padding-left: 10px;
}

.invoice-list-wrapper .dataTables_wrapper .top .action-btns button#invoice-filter-btn {
    padding: .367rem 1.5rem
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table {
    background-color: #FFF;
    border: 1px solid #DFE3E7;
    border-top: none;
    border-bottom-left-radius: .267rem;
    border-bottom-right-radius: .267rem;
    border-collapse: separate!important;
    border-spacing: 0
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table thead th {
    font-weight: 400;
    font-size: .99rem
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table tr:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12)
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table tr td:nth-child(2),
.invoice-list-wrapper .dataTables_wrapper .invoice-data-table tr th:nth-child(2) {
    padding-left: 10px
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table tr .invoice-action a {
    color: #B3C0CE
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table tr td {
    white-space: nowrap
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell {
    width: 1px!important;
    padding: 0 20px 3px 19px
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell input {
    width: 0;
    position: relative
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell input::before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #FFF;
    border: 1px solid #DFE3E7
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell input::after {
    content: ' ';
    height: 20px;
    width: 20px;
    border: 1px solid #DFE3E7;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell input:checked::after {
    border-top-style: none;
    border-right-style: none;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .4rem;
    width: .8rem;
    border-color: #5A8DEE;
    border-radius: 0;
    border-width: 2px;
    top: 6px;
    left: 4px
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table .dt-checkboxes-cell input:checked::before {
    box-shadow: 0 0 6px 0 rgba(22, 22, 22, .2)
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table tbody .selected-row-bg {
    background-color: #E7EDF3
}

.invoice-list-wrapper .dataTables_wrapper .invoice-data-table tbody .bullet-sm {
    margin-right: .2rem
}

.invoice-edit-wrapper hr {
    border-style: dashed
}

.invoice-edit-wrapper .invoice-info .invoice-to {
    margin-bottom: .8rem
}

.invoice-edit-wrapper .invoice-date-picker .pickadate {
    max-width: 130px
}

.invoice-edit-wrapper .invoice-item-title {
    color: #475F7B;
    font-weight: 500
}

.invoice-edit-wrapper .invoice-icon .dropdown .dropdown-menu {
    width: 20rem
}

.invoice-edit-wrapper .invoice-repeat-btn {
    font-size: 1rem;
    font-weight: 500
}

.invoice-edit-wrapper .invoice-subtotal-value {
    color: #304156
}

.invoice-edit-wrapper .invoice-subtotal-title {
    color: #727E8C
}

.invoice-edit-wrapper .subtotal-preview-btn {
    box-shadow: 0 2px 4px 0 rgba(90, 141, 238, .4)
}

.invoice-edit-wrapper .invoice-action-wrapper {
    background-color: #FAFBFB
}

.invoice-edit-wrapper .invoice-action-wrapper .invoice-action-btn .invoice-send-btn {
    box-shadow: 0 2px 4px 0 rgba(90, 141, 238, .6)
}

.invoice-edit-wrapper .invoice-terms .invoice-terms-title {
    font-family: Rubik, Helvetica, Arial, serif;
    color: #475F7B
}

@media screen and (max-width:1290px) {
    .invoice-subtotal {
        width: 100%!important
    }
    .invoice-subtotal .invoice-title {
        width: auto!important
    }
}

@media screen and (max-width:596px) {
    .action-btns {
        margin-bottom: 1rem;
        padding-left: 23px
    }
}

@media screen and (max-width:767px) {
    .invoice-payment {
        border: 1px solid #DFE3E7;
        border-radius: .267rem;
        padding: 1rem
    }
}


/* Buttons Bootstrap4 Integration*/

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0
}

table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
    text-align: center
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 30px
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
    outline: none
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191"
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193"
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner {
    box-sizing: content-box
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner>table {
    margin-top: 0 !important;
    border-top: none
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center
    }
}

table.dataTable.table-sm>thead>tr>th {
    padding-right: 20px
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
    top: 5px;
    right: 0.85em
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
    top: 5px
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-left-width: 0
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
    border-right-width: 0
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    border-bottom-width: 0
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
    padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding-right: 0
}


/* Buttons Data Tables */

@keyframes dtb-spinner {
    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes dtb-spinner {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes dtb-spinner {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes dtb-spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes dtb-spinner {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    background-color: white;
    border: 2px solid #111;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    z-index: 21
}

div.dt-button-info h2 {
    padding: 0.5em;
    margin: 0;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3
}

div.dt-button-info>div {
    padding: 1em
}

div.dt-button-collection-title {
    text-align: center;
    padding: 0.3em 0 0.5em;
    font-size: 0.9em
}

div.dt-button-collection-title:empty {
    display: none
}

div.dt-button-collection.dropdown-menu {
    display: block;
    z-index: 2002;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
    column-gap: 8px
}

div.dt-button-collection.dropdown-menu.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    border-radius: 0
}

div.dt-button-collection.dropdown-menu.fixed.two-column {
    margin-left: -150px
}

div.dt-button-collection.dropdown-menu.fixed.three-column {
    margin-left: -225px
}

div.dt-button-collection.dropdown-menu.fixed.four-column {
    margin-left: -300px
}

div.dt-button-collection.dropdown-menu>* {
    -webkit-column-break-inside: avoid;
    break-inside: avoid
}

div.dt-button-collection.dropdown-menu.two-column {
    width: 300px;
    padding-bottom: 1px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2
}

div.dt-button-collection.dropdown-menu.three-column {
    width: 450px;
    padding-bottom: 1px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3
}

div.dt-button-collection.dropdown-menu.four-column {
    width: 600px;
    padding-bottom: 1px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4
}

div.dt-button-collection.dropdown-menu .dt-button {
    border-radius: 0
}

div.dt-button-collection {
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
    column-gap: 8px
}

div.dt-button-collection.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    border-radius: 0
}

div.dt-button-collection.fixed.two-column {
    margin-left: -150px
}

div.dt-button-collection.fixed.three-column {
    margin-left: -225px
}

div.dt-button-collection.fixed.four-column {
    margin-left: -300px
}

div.dt-button-collection>* {
    -webkit-column-break-inside: avoid;
    break-inside: avoid
}

div.dt-button-collection.two-column {
    width: 300px;
    padding-bottom: 1px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2
}

div.dt-button-collection.three-column {
    width: 450px;
    padding-bottom: 1px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3
}

div.dt-button-collection.four-column {
    width: 600px;
    padding-bottom: 1px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4
}

div.dt-button-collection .dt-button {
    border-radius: 0
}

div.dt-button-collection.fixed {
    max-width: none
}

div.dt-button-collection.fixed:before,
div.dt-button-collection.fixed:after {
    display: none
}

div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999
}

@media screen and (max-width: 767px) {
    div.dt-buttons {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em
    }
    div.dt-buttons a.btn {
        float: none
    }
}

div.dt-buttons button.btn.processing,
div.dt-buttons div.btn.processing,
div.dt-buttons a.btn.processing {
    color: rgba(0, 0, 0, 0.2)
}

div.dt-buttons button.btn.processing:after,
div.dt-buttons div.btn.processing:after,
div.dt-buttons a.btn.processing:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    box-sizing: border-box;
    display: block;
    content: ' ';
    border: 2px solid #282828;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: dtb-spinner 1500ms infinite linear;
    -o-animation: dtb-spinner 1500ms infinite linear;
    -ms-animation: dtb-spinner 1500ms infinite linear;
    -webkit-animation: dtb-spinner 1500ms infinite linear;
    -moz-animation: dtb-spinner 1500ms infinite linear
}


/* row Reorder */

table.dataTable tr.dtrg-group td {
    background-color: #e0e0e0
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    font-weight: bold
}

table.dataTable tr.dtrg-group.dtrg-level-1 td,
table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f0f0f0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    font-size: 0.9em
}

table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f3f3f3
}


/* Data Tables.min.scss*/

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: #0275d8
}

table.dataTable.stripe tbody>tr.odd.selected,
table.dataTable.stripe tbody>tr.odd>.selected,
table.dataTable.display tbody>tr.odd.selected,
table.dataTable.display tbody>tr.odd>.selected {
    background-color: #0272d3
}

table.dataTable.hover tbody>tr.selected:hover,
table.dataTable.hover tbody>tr>.selected:hover,
table.dataTable.display tbody>tr.selected:hover,
table.dataTable.display tbody>tr>.selected:hover {
    background-color: #0271d0
}

table.dataTable.order-column tbody>tr.selected>.sorting_1,
table.dataTable.order-column tbody>tr.selected>.sorting_2,
table.dataTable.order-column tbody>tr.selected>.sorting_3,
table.dataTable.order-column tbody>tr>.selected,
table.dataTable.display tbody>tr.selected>.sorting_1,
table.dataTable.display tbody>tr.selected>.sorting_2,
table.dataTable.display tbody>tr.selected>.sorting_3,
table.dataTable.display tbody>tr>.selected {
    background-color: #0273d4
}

table.dataTable.display tbody>tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
    background-color: #026fcc
}

table.dataTable.display tbody>tr.odd.selected>.sorting_2,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_2 {
    background-color: #0270ce
}

table.dataTable.display tbody>tr.odd.selected>.sorting_3,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_3 {
    background-color: #0270d0
}

table.dataTable.display tbody>tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1 {
    background-color: #0273d4
}

table.dataTable.display tbody>tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_2 {
    background-color: #0274d5
}

table.dataTable.display tbody>tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_3 {
    background-color: #0275d7
}

table.dataTable.display tbody>tr.odd>.selected,
table.dataTable.order-column.stripe tbody>tr.odd>.selected {
    background-color: #026fcc
}

table.dataTable.display tbody>tr.even>.selected,
table.dataTable.order-column.stripe tbody>tr.even>.selected {
    background-color: #0273d4
}

table.dataTable.display tbody>tr.selected:hover>.sorting_1,
table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_1 {
    background-color: #026bc6
}

table.dataTable.display tbody>tr.selected:hover>.sorting_2,
table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_2 {
    background-color: #026cc8
}

table.dataTable.display tbody>tr.selected:hover>.sorting_3,
table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_3 {
    background-color: #026eca
}

table.dataTable.display tbody>tr:hover>.selected,
table.dataTable.display tbody>tr>.selected:hover,
table.dataTable.order-column.hover tbody>tr:hover>.selected,
table.dataTable.order-column.hover tbody>tr>.selected:hover {
    background-color: #026bc6
}

table.dataTable tbody td.select-checkbox,
table.dataTable tbody th.select-checkbox {
    position: relative
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
    display: block;
    position: absolute;
    top: 1.2em;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
    content: ' ';
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid black;
    border-radius: 3px
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
    content: '\2714';
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
    margin-left: 0.5em
}

@media screen and (max-width: 640px) {
    div.dataTables_wrapper span.select-info,
    div.dataTables_wrapper span.select-item {
        margin-left: 0;
        display: block
    }
}

table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
    color: white
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: #a2d4ed
}


.table thead,
label {
    text-transform: uppercase
}

.checkbox label:after,
.checkbox label:before {
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    position: absolute
}

.alert.alert-dismissible .close:focus,
.custom-switch .custom-control-label:focus,
.dropdown .dropdown-toggle:focus,
.dropleft .dropdown-toggle:focus,
.dropright .dropdown-toggle:focus,
.dropup .dropdown-toggle:focus,
.list-group button.list-group-item:focus,
.modal .modal-content .modal-header .close:active,
.modal .modal-content .modal-header .close:focus,
.modal .modal-content .modal-header .close:hover,
.navbar-components-wrapper .navbar .navbar-container.navbar-dark .navbar-toggler:focus,
.navbar-components-wrapper .navbar .navbar-container.navbar-light .navbar-toggler:focus,
.toast .toast-header .close:active,
.toast .toast-header .close:focus,
a:focus {
    outline: 0
}

.font-small-1 {
    font-size: .7rem!important
}

.font-small-2 {
    font-size: .8rem!important
}

.font-small-3 {
    font-size: .9rem!important
}

.font-medium-1 {
    font-size: 1.1rem!important
}

.font-medium-2 {
    font-size: 1.2rem!important
}

.font-medium-3 {
    font-size: 1.3rem!important
}

.font-medium-4 {
    font-size: 1.4rem!important
}

.font-medium-5 {
    font-size: 1.5rem!important
}

.font-large-1 {
    font-size: 2rem!important
}

.font-large-2 {
    font-size: 3rem!important
}

.font-large-3 {
    font-size: 4rem!important
}

.font-large-4 {
    font-size: 5rem!important
}

.font-large-5 {
    font-size: 6rem!important
}

.text-bold-300 {
    font-weight: 300
}

.text-bold-400 {
    font-weight: 400
}

.text-bold-500 {
    font-weight: 500
}

.text-bold-600 {
    font-weight: 600
}

.text-bold-700 {
    font-weight: 700
}

.text-italic {
    font-style: italic
}

.text-highlight {
    padding: 4px 6px
}

code {
    padding: .1rem .4rem;
    font-size: 90%;
    color: #E83E8C;
    background-color: #EEE;
    border-radius: .1335rem
}

pre {
    background-color: #F7F7F9
}

pre code {
    background-color: transparent!important
}

.bd-example-row .row+.row {
    margin-top: 1rem
}

.bd-example-row .row>.col,
.bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2)
}

.bd-example-row .flex-items-bottom,
.bd-example-row .flex-items-middle,
.bd-example-row .flex-items-top {
    min-height: 6rem;
    background-color: rgba(255, 0, 0, .1)
}

.bd-example-row-flex-cols .row {
    min-height: 10rem;
    background-color: rgba(255, 0, 0, .1)
}

.bd-highlight {
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .15)
}

.table td,
.table thead th {
    vertical-align: middle;
    border-top: none
}

.example-container {
    width: 800px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.example-content-main,
.example-content-secondary {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative
}

.example-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:576px) {
    .example-content-main {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:992px) {
    .example-content-main {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
}

@media (min-width:576px) {
    .example-content-secondary {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:992px) {
    .example-content-secondary {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
}

.table td,
.table th {
    font-family: Rubik, Helvetica, Arial, serif
}

.table thead i {
    color: #475F7B
}

.table thead th {
    color: #475F7B;
    font-size: .8rem;
    letter-spacing: 1px
}

.table td {
    border-bottom: 1px solid #DFE3E7
}

.table td a {
    display: inline-block
}

.table td a .badge-circle {
    margin-bottom: -7px;
    margin-top: -7px
}

.table tbody tr.group {
    background-color: #F2F4F4
}

.table tbody tr:last-child td {
    border-bottom: none
}

.table .thead-dark th {
    background-color: #40566F;
    border-color: #40566F
}

.table.table-bordered thead th {
    border-top: 1px solid #DFE3E7
}

.table.table-borderless thead tr {
    border-bottom: 2px solid #DFE3E7
}

.table.table-borderless td {
    border: none
}

.table.table-dark tbody td,
.table.table-striped.table-dark tbody td {
    border-color: #40566F
}

.table.table-dark i {
    color: #FFF;
    background-color: rgba(255, 255, 255, .09)
}

.table.table-dark thead th {
    color: #FFF;
    background-color: #40566F
}

.table.table-striped.table-dark th {
    background-color: #40566F
}

.table.table-striped.table-hover tbody tr:hover {
    background-color: #E7EDF3
}

.table.table-transparent tbody,
.table.table-transparent thead th {
    background-color: transparent
}

label {
    color: #475F7B;
    font-size: .8rem;
    font-weight: 500
}

.form-label-group {
    position: relative;
    margin-bottom: 1.5rem
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    padding: .6rem;
    color: #475F7B;
    font-size: .85rem;
    opacity: 0
}

.form-label-group textarea:focus:not(:placeholder-shown)~label,
.form-label-group textarea:not(:active):not(:placeholder-shown)~label,
.form-label-group>input:focus:not(:placeholder-shown)~label,
.form-label-group>input:not(:active):not(:placeholder-shown)~label {
    color: #5A8DEE!important;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    opacity: 1
}

.form-label-group textarea:not(:focus):not(:placeholder-shown)~label,
.form-label-group>input:not(:focus):not(:placeholder-shown)~label {
    color: #475F7B!important
}

.form-label-group textarea:not(:placeholder-shown)~label,
.form-label-group>input:not(:placeholder-shown)~label {
    padding: .25rem 0;
    font-size: .7rem;
    top: -20px;
    left: 3px
}

.col-form-label {
    font-size: .8rem
}

.invalid-feedback i,
.valid-feedback i {
    font-size: .6rem;
    position: relative;
    font-weight: 700;
    margin-top: .5rem
}

.checkbox label,
.custom-checkbox label,
.custom-radio label {
    font-size: 1rem;
    text-transform: none
}

.form-control:focus::-webkit-input-placeholder {
    -webkit-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:focus::-moz-placeholder {
    transform: translate(5px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:focus:-ms-input-placeholder {
    -ms-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:focus::-ms-input-placeholder {
    -ms-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:focus::placeholder {
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:focus~.form-control-position i {
    color: #5A8DEE
}

.form-control:not(:focus)::-webkit-input-placeholder {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:not(:focus)::-moz-placeholder {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:not(:focus):-ms-input-placeholder {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:not(:focus)::-ms-input-placeholder {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:not(:focus)::placeholder {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.form-control:-ms-input-placeholder {
    color: #828D99
}

.form-control:disabled {
    border: 0
}

.form-control.is-valid:focus {
    box-shadow: 0 3px 8px 0 rgba(57, 218, 138, .2)
}

.form-control.is-invalid:focus {
    box-shadow: 0 3px 8px 0 rgba(255, 91, 92, .2)
}

.needs-validation.was-validated .form-control:valid:focus {
    box-shadow: 0 3px 8px 0 rgba(57, 218, 138, .2)
}

.needs-validation.was-validated .form-control:invalid:focus {
    box-shadow: 0 3px 8px 0 rgba(255, 91, 92, .2)
}

.needs-validation .valid-tooltip {
    color: #39DA8A;
    margin-top: .5rem
}

.needs-validation .invalid-tooltip {
    color: #FF5B5C;
    margin-top: .5rem
}

.custom-checkbox .custom-control-input:not(:disabled):active~.custom-control-label::before,
.custom-radio .custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: #5A8DEE;
    border-color: #5A8DEE
}

.checkbox {
    position: relative;
    display: inline-block
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
    display: none
}

.checkbox label {
    margin-left: 1.75rem;
    margin-bottom: 0
}

.checkbox label:before {
    content: '';
    border-radius: 4px
}

.checkbox label:after {
    content: ' ';
    border: 1px solid #DFE3E7;
    border-radius: 4px;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out
}

.radio label::after,
.radio label::before {
    content: ''
}

.checkbox input:checked~label:after {
    border-top-style: none;
    border-right-style: none;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .4rem;
    width: .8rem;
    border-color: #5A8DEE;
    border-radius: 0;
    border-width: 2px;
    top: 6px;
    left: 4px
}

.checkbox input:checked~label:before {
    background-color: #FFF;
    border: 1px solid #DFE3E7
}

.checkbox input:disabled~label::before {
    background-color: #F2F4F4!important;
    border-color: #DFE3E7!important;
    box-shadow: none!important
}

.checkbox input:disabled~label::after {
    border-color: #B3C0CE!important
}

.checkbox.checkbox-shadow input:checked~label::before {
    box-shadow: 0 0 6px 0 rgba(22, 22, 22, .2)
}

.checkbox.checkbox-sm input:checked~label:after {
    height: 5px;
    width: 8px;
    top: 7px
}

.checkbox.checkbox-sm label::after,
.checkbox.checkbox-sm label::before {
    width: 15px;
    height: 15px;
    top: 3px
}

.checkbox.checkbox-icon input:checked~label:after {
    border: none
}

.checkbox.checkbox-icon input:checked~label i {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.checkbox.checkbox-icon i {
    position: absolute;
    left: 4px;
    top: 5px;
    font-size: .85rem;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in
}

.custom-switch .custom-control-label .switch-icon-left i,
.custom-switch .custom-control-label .switch-icon-right i,
.radio label {
    font-size: 1rem
}

.radio input[type=radio]:checked~label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s cubic-bezier(.35, .9, .4, .9);
    transition: all .3s cubic-bezier(.35, .9, .4, .9)
}

.radio input[type=radio]:disabled~label::before {
    background-color: #F2F4F4!important;
    box-shadow: none!important
}

.radio input[type=radio]:disabled~label::after {
    background-color: #B3C0CE!important
}

.radio label {
    text-transform: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0
}

.radio label::after {
    position: absolute;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 6px;
    width: 6px;
    background-color: #5A8DEE;
    border-radius: 50%;
    left: 5px;
    opacity: 0;
    -webkit-transform: scale(3.6);
    -ms-transform: scale(3.6);
    transform: scale(3.6)
}

.dropdown .dropdown-toggle.nav-hide-arrow::after,
.dropdown.dropdown-icon-wrapper .dropdown-toggle:after,
.dropleft .dropdown-toggle.nav-hide-arrow::after,
.dropright .dropdown-toggle.nav-hide-arrow::after,
.dropup .dropdown-toggle.nav-hide-arrow::after,
.dropup.dropdown-icon-wrapper .dropdown-toggle:after,
.header-navbar .nav-link.dropdown-toggle::after,
.header-navbar-shadow {
    display: none
}

.radio label::before {
    border: 1px solid #DFE3E7;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: .5rem
}

.radio.radio-shadow input:checked~label::before {
    box-shadow: 0 0 6px 0 rgba(22, 22, 22, .2)
}

.radio.radio-sm label::before {
    width: 14px;
    height: 14px
}

.radio.radio-sm label:after {
    height: 6px;
    width: 6px;
    left: 4px
}

.custom-switch {
    padding-left: 0
}

.custom-switch .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none!important
}

.custom-switch .custom-control-label::before,
.custom-switch .custom-control-label:after {
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer
}

.custom-switch .custom-control-label {
    height: 20px;
    width: 42px;
    padding: 0
}

.custom-switch .custom-control-label::before {
    border: none;
    background-color: #E7EDF3;
    height: 20px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    user-select: none;
    top: 0;
    left: 1px
}

.custom-switch .custom-control-label:after {
    position: absolute;
    top: 1px;
    left: 2px;
    background-color: #FFF;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    user-select: none
}

.counter-value,
.custom-switch .custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: #5A8DEE
}

.custom-switch .custom-control-label .switch-icon-left,
.custom-switch .custom-control-label .switch-icon-right {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 2px
}

.btn i,
.collapse-icon .card-header {
    position: relative
}

.custom-switch .custom-control-label .switch-icon-left {
    left: 5px;
    color: #FFF
}

.custom-switch .custom-control-label .switch-icon-right {
    right: 5px
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    -webkit-transform: translateX(1.4rem);
    -ms-transform: translateX(1.4rem);
    transform: translateX(1.4rem)
}

.custom-switch.custom-switch-glow .custom-control-input:not(:disabled):checked~.custom-control-label::before {
    box-shadow: 0 0 8px 0 rgba(90, 141, 238, .8)!important
}

.custom-switch.custom-switch-shadow .custom-control-input:not(:disabled):checked~.custom-control-label::before {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4)!important
}

.counter-value {
    color: #FFF;
    padding: 1px 6px;
    font-size: .6rem;
    border-radius: 0 0 5px 5px;
    margin-right: 1rem
}

.bootstrap-touchspin .btn.disabled-max-min,
.bootstrap-touchspin .btn.disabled-max-min:hover,
.bootstrap-touchspin.input-group.disabled-touchspin .bootstrap-touchspin-down,
.bootstrap-touchspin.input-group.disabled-touchspin .bootstrap-touchspin-up {
    background-color: #A3AFBD!important;
    cursor: default
}

.input-group .input-group-text .radio label:before {
    margin-right: 0
}

.input-group .input-group-text .checkbox label:after,
.input-group .input-group-text .checkbox label:before {
    left: 3px
}

.input-group .input-group-text .checkbox input:checked~label:after {
    left: 7px
}

.input-group .input-group-text .checkbox.checkbox-sm label:after,
.input-group .input-group-text .checkbox.checkbox-sm label:before {
    left: 5px
}

.input-group .input-group-text .checkbox.checkbox-sm input:checked~label:after {
    left: 8px
}

span.invoice-customer, span.badge.badge-pill {
    white-space: pre-line;
}

select.form-control:not([multiple=multiple]) {
    background-position: calc(100% - 12px) 13px, calc(100% - 20px) 13px, 100% 0;
    background-size: 12px 12px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 1.5rem
}

.custom-select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

.bootstrap-touchspin.input-group input[type=number] {
    -moz-appearance: textfield
}

.bootstrap-touchspin.input-group .input-group-btn .btn {
    padding: .4rem 1rem
}

.bootstrap-touchspin.input-group input.touchspin-vertical {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.bootstrap-touchspin.input-group input.touchspin-vertical~.input-group-btn-vertical .bootstrap-touchspin-up {
    border-bottom: 1px solid
}

.bootstrap-touchspin.input-group .bootstrap-touchspin-down i,
.bootstrap-touchspin.input-group .bootstrap-touchspin-up i {
    font-size: .8rem;
    position: relative;
    top: 0;
    font-weight: 700
}

.bootstrap-touchspin.input-group.disabled-touchspin input {
    border: 1px solid #F2F4F4!important
}

.bootstrap-touchspin.input-group.input-group-lg .input-group-btn .btn {
    padding: .5rem 1.2rem
}

.bootstrap-touchspin.input-group.input-group-sm .input-group-btn .btn {
    padding: .5rem .8rem
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .radio input[type=radio]:checked~label::after {
        margin-top: .4rem
    }
}

.btn[class*=btn-outline-] {
    padding-top: calc(.467rem - 1px);
    padding-bottom: calc(.467rem - 1px)
}

.btn[class*=btn-outline-].btn-lg {
    padding-top: calc(.6rem - 1px);
    padding-bottom: calc(.6rem - 1px)
}

.btn[class*=btn-outline-].btn-sm {
    padding-top: calc(.467rem - 1px);
    padding-bottom: calc(.467rem - 1px)
}

.btn i {
    top: 3px
}

.btn.btn-white,
.btn.btn-white:active,
.btn.btn-white:focus,
.btn.btn-white:hover {
    color: inherit!important
}

.btn.shadow.hover,
.btn.shadow:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .2)!important
}

.btn.btn-icon {
    padding: .4rem .6rem
}

.btn.btn-sm.btn-icon {
    padding: .5rem
}

.btn.btn-lg.btn-icon {
    padding: 1rem
}

.btn.active,
.btn.focus,
.btn:active,
.btn:focus {
    outline: 0;
    box-shadow: none!important
}

.btn-group:not(.dropdown)>.btn {
    border: 1px solid #DFE3E7
}

.btn-group:not(.dropdown)>.btn:not(:last-child) {
    border-right-width: 0
}

.btn-group:not(.dropdown)>.btn.active,
.btn-group:not(.dropdown)>.btn:active,
.btn-group:not(.dropdown)>.btn:focus,
.btn-group:not(.dropdown)>.btn:hover {
    background-color: #5A8DEE;
    color: #FFF;
    border-color: #5A8DEE
}

.collapse-icon [data-toggle=collapse]:before {
    position: absolute;
    top: 26%;
    right: 20px;
    font-family: boxicons;
    content: '\ea4a';
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    font-size: 1.2rem;
    font-weight: 600
}

.collapse-icon.accordion-icon-rotate [aria-expanded=true]:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.show>.dropdown-menu {
    display: block
}

.btn.dropdown-toggle.dropdown-toggle-split {
    padding: 0 1rem;
    border-left-color: rgba(255, 255, 255, .2)!important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.dropdown-menu {
    box-shadow: -7px 8px 16px 0 rgba(55, 70, 95, .2)
}

.dropdown-menu::before {
    border-top: 1px solid #DFE3E7;
    border-left: 1px solid #DFE3E7;
    content: '';
    position: absolute;
    top: -1px;
    left: 1.2rem;
    width: .75rem;
    height: .75rem;
    display: block;
    background: #FFF;
    -webkit-transform: rotate(45deg) translate(-7px);
    -ms-transform: rotate(45deg) translate(-7px);
    transform: rotate(45deg) translate(-7px);
    z-index: 10;
    box-sizing: border-box
}

.dropdown-menu .dropdown-header {
    text-transform: uppercase;
    font-weight: 500
}

.dropdown-menu .dropdown-item {
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.dropdown-menu .dropdown-item .dropdown-item-emoji {
    font-size: 1rem;
    margin-right: .5rem
}

.dropdown-menu .dropdown-item.active i,
.dropdown-menu .dropdown-item:active i {
    color: #FFF
}

.dropdown-menu.dropdown-menu-right::before {
    right: .6rem;
    left: auto
}

.dropdown-menu i {
    color: #475F7B
}

.dropdown .dropdown-toggle::after,
.dropleft .dropdown-toggle::after,
.dropright .dropdown-toggle::after,
.dropup .dropdown-toggle::after {
    border: none!important;
    font-family: boxicons;
    content: '\ea48'!important;
    position: relative;
    top: 1px;
    right: 0;
    left: .714rem;
    padding: 0;
    margin: 0;
    vertical-align: 0
}

.dropdown .dropdown-toggle.dropdown-toggle-split:after,
.dropleft .dropdown-toggle.dropdown-toggle-split:after,
.dropright .dropdown-toggle.dropdown-toggle-split:after,
.dropup .dropdown-toggle.dropdown-toggle-split:after {
    left: 0
}

.dropup .dropdown-toggle::after {
    content: '\ea4f'!important;
    vertical-align: .05rem;
    top: 3px
}

.dropup .dropdown-menu::before {
    bottom: -.714rem;
    left: 1.214rem;
    top: auto;
    border-bottom: 1px solid #DFE3E7;
    border-right: 1px solid #DFE3E7
}

.dropup .dropdown-menu.dropdown-menu-right::before {
    left: auto;
    right: .714rem
}

.dropup .dropdown-menu[x-placement^=top-start]::before,
.dropup .dropdown-menu[x-placement^=top-end]::before,
.dropup .dropdown-menu[x-placement^=bottom-start]::before {
    border-top: 0;
    border-left: 0
}

.dropup .dropdown-submenu .dropdown-menu {
    bottom: auto;
    top: 0
}

.dropleft .dropdown-toggle::before {
    border: none!important;
    font-family: boxicons;
    content: '\ea49'!important
}

.dropleft .dropdown-menu::before {
    content: '';
    top: 1.285rem;
    right: 0;
    left: auto;
    -webkit-transform: rotate(130deg) translate(-8px);
    -ms-transform: rotate(130deg) translate(-8px);
    transform: rotate(130deg) translate(-8px);
    border-top: 1px solid #DFE3E7;
    border-left: 1px solid #DFE3E7
}

.dropright .dropdown-toggle::after {
    border: none!important;
    font-family: boxicons;
    content: '\ea4a'!important
}

.card .card-footer,
.header-navbar {
    font-family: Rubik, Helvetica, Arial, serif
}

.dropright .dropdown-menu::before {
    top: 1.285rem;
    left: -.9rem;
    -webkit-transform: rotate(140deg) translate(-9px);
    -ms-transform: rotate(140deg) translate(-9px);
    transform: rotate(140deg) translate(-9px);
    border-bottom: 1px solid #DFE3E7;
    border-right: 1px solid #DFE3E7
}

.dropright .dropdown-menu[x-placement^=right-start]::before {
    border-top: 0;
    border-left: 0
}

.dropdown.dropdown-icon-wrapper .dropdown-menu,
.dropup.dropdown-icon-wrapper .dropdown-menu {
    min-width: auto
}

.dropdown.dropdown-icon-wrapper .dropdown-menu .dropdown-item,
.dropup.dropdown-icon-wrapper .dropdown-menu .dropdown-item {
    cursor: pointer
}

.dropdown.dropdown-icon-wrapper .dropdown-menu .dropdown-item i,
.dropup.dropdown-icon-wrapper .dropdown-menu .dropdown-item i {
    font-size: 1.3rem
}

.btn.btn-white~.dropdown-menu .dropdown-item:not(.acitve):hover {
    color: #727E8C!important
}

.btn.btn-white~.dropdown-menu .dropdown-item.active {
    color: #727E8C
}

.carousel .card-img-overlay h1,
.carousel .card-img-overlay h2,
.carousel .card-img-overlay h3,
.carousel .card-img-overlay h4,
.carousel .card-img-overlay h5,
.carousel .card-img-overlay h6,
.header-navbar[class*=bg-] .navbar-nav .nav-item>a {
    color: #FFF
}

.carousel .carousel-indicators li {
    border-radius: 3px;
    border-top: 0;
    border-bottom: 0
}

.carousel .carousel-inner {
    border-radius: .267rem
}

.carousel .carousel-caption {
    font-weight: 500
}

.navbar-dark .hamburger-inner,
.navbar-dark .hamburger-inner::after,
.navbar-dark .hamburger-inner::before {
    background-color: #FFF
}

.navbar {
    position: inherit
}

.header-navbar {
    padding: 0;
    min-height: 4rem;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
    z-index: 1000
}

.header-navbar.fixed-top {
    left: 260px;
    position: fixed;
    background-color: #F2F4F4
}

.header-navbar[class*=bg-] .navbar-nav .nav-item.dropdown-language .dropdown-menu .dropdown-item:active,
.header-navbar[class*=bg-] .navbar-nav .nav-item.dropdown-user .dropdown-menu .dropdown-item:active,
.header-navbar[class*=bg-] .navbar-nav .nav-item>a i,
.header-navbar[class*=bg-] .navbar-nav .nav-item>a span {
    color: #FFF!important
}

.header-navbar[class*=bg-] .navbar-nav .nav-item>a i {
    -webkit-text-stroke: .2px #727E8C!important
}

.header-navbar[class*=bg-] .navbar-nav .search-input .input,
.header-navbar[class*=bg-] .navbar-nav .search-input .search-list .auto-suggestion {
    color: #727E8C!important
}

.header-navbar.navbar-static-top {
    background: 0 0;
    box-shadow: none!important
}

.header-navbar.navbar-static-top .navbar-wrapper {
    margin-left: 260px
}

.header-navbar .navbar-wrapper {
    width: 100%
}

.header-navbar.navbar-border {
    border-bottom: 1px solid #DFE3E7
}

.header-navbar.navbar-dark.navbar-border {
    border-bottom: 1px solid #8596B5
}

.header-navbar.navbar-shadow {
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, .13)
}

.header-navbar .navbar-container ul.nav li.dropdown-language {
    padding: 14px 0
}

.header-navbar .navbar-container {
    padding-left: 1rem;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    background: inherit;
    margin-left: 0
}

.header-navbar .navbar-container .bookmark-wrapper ul.nav li>a.nav-link.nav-menu-main {
    padding: 1.2rem .5rem;
    position: relative
}

.header-navbar .navbar-container .bookmark-wrapper ul.nav li>a.nav-link i:hover {
    color: #5A8DEE
}

.header-navbar .navbar-container .bookmark-input {
    z-index: 1001
}

.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu {
    top: 53px;
    -webkit-animation: .8s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 fadein;
    animation: .8s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 fadein
}

.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu:before {
    content: '';
    background-color: transparent;
    border: none
}

.header-navbar .navbar-container ul.nav li .badge {
    padding: .25em .4em .18rem .35rem
}

.header-navbar .navbar-container ul.nav li .badge.badge-up {
    position: absolute;
    top: 2px;
    right: 2px
}

.header-navbar .navbar-container ul.nav li>a.nav-link {
    color: #727E8C
}

.header-navbar .navbar-container ul.nav li>a.nav-link i.flag-icon {
    margin-right: .5rem
}

.header-navbar .navbar-container ul.nav li.dropdown-user .dropdown-menu-right {
    right: 12px;
    left: auto;
    padding: .5rem 0
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    padding: .9rem 1.25rem .9rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    display: inline-block;
    margin-left: .2rem;
    line-height: 1.2
}

.navbar-dark .navbar-nav li,
.navbar-semi-dark .navbar-nav li,
.navbar-semi-light .navbar-nav li {
    line-height: 1
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-status {
    font-size: smaller
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08)
}

.header-navbar .navbar-container ul.nav li a.menu-toggle i {
    font-size: 1.75rem
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    float: left;
    margin-right: .8rem
}

.header-navbar .navbar-container ul.nav li a.nav-link-expand,
.header-navbar .navbar-container ul.nav li a.nav-link-search {
    padding: 1.5rem .75rem 1.15rem
}

.header-navbar .navbar-container ul.nav li div.input-group {
    padding: .7rem 1rem
}

.header-navbar .navbar-container ul.nav li i.ficon {
    font-size: 1.5rem;
    color: #475F7B;
    vertical-align: middle;
    cursor: pointer;
    -webkit-text-stroke: .2px #FFF
}

.header-navbar .navbar-container ul.nav li i.ficon:hover {
    color: #5A8DEE
}

.header-navbar .navbar-container ul.nav li .media-list {
    max-height: 21rem
}

.header-navbar .navbar-container ul.nav li .scrollable-container {
    position: relative
}

.header-navbar .navbar-container .dropdown-menu-media {
    width: 26rem
}

.header-navbar .navbar-container .dropdown-menu-media .media-list .media {
    padding: 1.3rem 1rem;
    border: none;
    border-bottom: 1px solid #DFE3E7
}

.header-navbar .navbar-container .dropdown-menu-media .media-list .media:hover {
    background: #F2F4F4
}

.header-navbar .navbar-container .dropdown-menu-media .media-list .media .media-meta {
    color: #727E8C
}

.header-navbar .navbar-container .dropdown-menu-media .dropdown-menu-header {
    border-bottom: 1px solid #DFE3E7
}

.header-navbar .navbar-container .dropdown-menu-media .dropdown-menu-header .dropdown-header {
    text-transform: none
}

.header-navbar .navbar-container .dropdown-menu-media .dropdown-menu-footer a {
    padding: .3rem;
    border-top: 1px solid #DFE3E7
}

.header-navbar .navbar-container .dropdown-menu-media .dropdown-menu-footer a:active {
    background-color: transparent
}

.header-navbar .nav-item+.nav-item,
.header-navbar.navbar-without-menu .navbar-container {
    margin-left: 0
}

@media (max-width:767.98px) {
    .header-navbar .navbar-header {
        width: 100%!important;
        padding: .5rem 1rem;
        position: relative
    }
    .header-navbar .navbar-header .menu-toggle {
        top: 2px;
        position: relative
    }
    .header-navbar .navbar-header .open-navbar-container i {
        font-size: 1.8rem
    }
    .header-navbar .navbar-header .navbar-brand {
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
    .header-navbar.navbar-with-menu .navbar-container {
        width: 100%;
        display: table;
        margin: 0;
        height: auto
    }
}

@media (max-width:991.98px) {
    [data-menu=vertical-menu-modern] .header-navbar .navbar-header {
        width: 100%!important;
        padding: .5rem 1rem;
        position: relative
    }
    [data-menu=vertical-menu-modern] .header-navbar .navbar-header .menu-toggle {
        top: 2px;
        position: relative
    }
    [data-menu=vertical-menu-modern] .header-navbar .navbar-header .open-navbar-container i {
        font-size: 1.8rem
    }
    [data-menu=vertical-menu-modern] .header-navbar .navbar-header .navbar-brand {
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
    [data-menu=vertical-menu-modern] .header-navbar.navbar-with-menu .navbar-container {
        width: 100%;
        display: table;
        margin: 0;
        height: auto
    }
    [data-menu=vertical-menu-modern] .navbar-dark .navbar-header .navbar-nav .nav-link,
    [data-menu=vertical-menu-modern] .navbar-semi-dark .navbar-header .navbar-nav .nav-link {
        color: #FFF
    }
    [data-menu=vertical-menu-modern] .navbar-dark .navbar-container .navbar-nav .nav-link,
    [data-menu=vertical-menu-modern] .navbar-light .navbar-header .navbar-nav .nav-link,
    [data-menu=vertical-menu-modern] .navbar-semi-dark .navbar-container .navbar-nav .nav-link {
        color: #475F7B
    }
}

.navbar-light {
    background: #FFF
}

.navbar-light .navbar-nav .active.nav-link {
    background-color: rgba(0, 0, 0, .03)
}

.navbar-dark,
.navbar-dark.navbar-horizontal {
    background: #475F7B
}

.navbar-dark .nav-search .btn-secondary,
.navbar-dark .nav-search .form-control {
    color: #FFF;
    background: #475F7B
}

.navbar-dark .navbar-nav .active.nav-link {
    background-color: rgba(255, 255, 255, .05)
}

.navbar-semi-dark {
    background: #FFF
}

.navbar-semi-dark .navbar-header {
    background: #475F7B
}

.navbar-semi-dark .navbar-header .brand-text {
    color: #FFF
}

.navbar-semi-dark .navbar-nav .nav-link,
.navbar-semi-light .navbar-header .brand-text {
    color: #475F7B
}

.navbar-semi-dark .navbar-nav .active.nav-link {
    background-color: rgba(0, 0, 0, .03)
}

.navbar-semi-light {
    background: #475F7B
}

.navbar-semi-light .navbar-header {
    background: #FFF
}

.navbar-semi-light .navbar-nav .nav-link {
    color: #FFF
}

.navbar-semi-light .navbar-nav .active.nav-link {
    background-color: rgba(0, 0, 0, .03)
}

@-moz-document url-prefix() {
    ul li a .children-in {
        position: relative;
        right: 3px;
        top: -14px
    }
}

.navbar-menu-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #475F7B;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.navbar-menu-icon span:nth-child(1) {
    top: 0
}

.navbar-menu-icon span:nth-child(2) {
    top: 10px
}

.navbar-menu-icon span:nth-child(3) {
    top: 20px
}

.navbar-menu-icon.show span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.navbar-menu-icon.show span:nth-child(2) {
    opacity: 0;
    left: -60px
}

.navbar-menu-icon.show span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

@media (max-width:767.98px) {
    .header-navbar .navbar-nav .show {
        position: static
    }
    .header-navbar .navbar-nav .open-navbar-container {
        padding-top: .625rem
    }
    .header-navbar .navbar-container .show .dropdown-menu {
        right: 0;
        left: 0!important;
        float: none;
        width: auto;
        margin-top: 0;
        max-height: 420px;
        overflow-x: hidden
    }
    .header-navbar .navbar-container ul.nav li.nav-item i {
        margin-right: .2rem
    }
    .header-navbar .navbar-container ul.nav li a.dropdown-user-link {
        padding: .9rem .6rem
    }
    .header-navbar .navbar-container ul.nav li .dropdown-toggle::after {
        margin-right: 0;
        margin-left: -2px
    }
    .navbar-dark .hamburger-inner,
    .navbar-dark .hamburger-inner::after,
    .navbar-dark .hamburger-inner::before,
    .navbar-semi-dark .hamburger-inner,
    .navbar-semi-dark .hamburger-inner::after,
    .navbar-semi-dark .hamburger-inner::before {
        background-color: #FFF
    }
    .navbar-dark .navbar-header .navbar-nav .nav-link,
    .navbar-semi-dark .navbar-header .navbar-nav .nav-link {
        color: #FFF
    }
    .navbar-dark .navbar-container .navbar-nav .nav-link,
    .navbar-light .navbar-container .navbar-nav .nav-link,
    .navbar-light .navbar-header .navbar-nav .nav-link,
    .navbar-semi-dark .navbar-container .navbar-nav .nav-link,
    .navbar-semi-light .navbar-container .navbar-nav .nav-link,
    .navbar-semi-light .navbar-header .navbar-nav .nav-link {
        color: #475F7B
    }
}

.headroom {
    will-change: transform;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear
}

.headroom--pinned-top {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.headroom--unpinned-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.headroom--pinned-bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.headroom--unpinned-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

@media (max-width:1199.98px) {
    .header-navbar .navbar-container ul.nav li a.dropdown-user-link {
        padding: .9rem 1.23rem
    }
    .header-navbar .navbar-container ul.nav li .dropdown-toggle::after {
        margin-right: 0;
        margin-left: -2px
    }
}

@media (max-width:767px) {
    #navbar-mobile.navbar-collapse .navbar-nav {
        margin: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
    #navbar-mobile.navbar-collapse .navbar-nav .menu-toggle {
        position: relative;
        top: 4.5px;
        padding: 1.12rem .8rem 1.12rem 0
    }
    #navbar-mobile.navbar-collapse .navbar-nav .dropdown-menu {
        position: absolute
    }
    #navbar-mobile.navbar-collapse .navbar-nav .nav-item {
        float: left
    }
    #navbar-mobile.navbar-collapse .navbar-nav .dropdown-notification .badge-up {
        right: -.2rem
    }
}

@media (max-width:991.98px) {
    #navbar-mobile.navbar-collapse .navbar-nav {
        margin: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
    #navbar-mobile.navbar-collapse .navbar-nav .menu-toggle {
        position: relative;
        top: 4.5px;
        padding: 1.12rem .8rem 1.12rem 0
    }
    #navbar-mobile.navbar-collapse .navbar-nav .dropdown-menu {
        position: absolute
    }
    #navbar-mobile.navbar-collapse .navbar-nav .nav-item {
        float: left
    }
    #navbar-mobile.navbar-collapse .navbar-nav .dropdown-notification .badge-up {
        right: -.2rem
    }
}

@media only screen and (min-device-width:26.78em) and (max-device-width:47.64em) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape) {
    .header-navbar .navbar-container .show .dropdown-menu {
        max-height: 180px
    }
}

@media only screen and (min-device-width:29.57em) and (max-device-width:52.57em) and (-webkit-min-device-pixel-ratio:3) and (orientation:landscape) {
    .header-navbar .navbar-container .show .dropdown-menu {
        max-height: 280px
    }
}

@media (min-width:992px) {
    .navbar-components-wrapper .navbar .navbar-container {
        background: inherit
    }
    .navbar-components-wrapper .nav .dropdown-language {
        float: right
    }
}

@media (max-width:1200px) {
    .header-navbar.fixed-top {
        left: 0
    }
    .header-navbar.navbar-static-top .navbar-wrapper {
        margin-left: 0
    }
}

@media (max-width:768px) {
    .navbar-components-wrapper .navbar .navbar-nav .dropdown-notification.show {
        position: static
    }
    .header-navbar .navbar-container ul.nav li.dropdown-user .dropdown-menu-right {
        right: 0
    }
}

@media (max-width:575.98px) {
    .header-navbar .navbar-container ul.nav li .selected-language {
        display: none
    }
    .content.app-content .content-area-wrapper {
        margin-left: 1.2rem!important;
        margin-right: 1.2rem!important
    }
}

@media (max-width:992px) {
    .navbar-components-wrapper .navbar .navbar-container {
        background: inherit
    }
    .navbar-components-wrapper .navbar .navbar-container .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .navbar-container #navbar-mobile .nav-back {
        margin-top: 5px
    }
}

.navbar-components-wrapper .navbar-theme .nav-item .nav-link {
    padding: 1.35rem 1.5rem 1.5rem 0
}

.navbar-components-wrapper .navbar-theme .nav-item .nav-link i {
    top: 0
}

.navbar-components-wrapper .navbar-theme .nav-item .nav-link.menu-toggle {
    padding: 1.2rem .5rem
}

.navbar-components-wrapper .navbar-theme .nav-item .nav-link.navbar-brand {
    margin-right: 0
}

.navbar-components-wrapper .navbar {
    z-index: auto;
    max-height: 4rem;
    min-height: 4rem
}

.navbar-components-wrapper .navbar .navbar-container .navbar-nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.navbar-components-wrapper .navbar .navbar-container .navbar-nav .dropdown-menu {
    position: absolute
}

@media screen and (max-width:991px) {
    .navbar-components-wrapper .navbar .navbar-container {
        padding: 0 .5rem
    }
}

@-webkit-keyframes fadein {
    from {
        -webkit-transform: translate3d(0, 6px, 0);
        transform: translate3d(0, 6px, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadein {
    from {
        -webkit-transform: translate3d(0, 6px, 0);
        transform: translate3d(0, 6px, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.no-card-shadow .card {
    box-shadow: none
}

.card {
    margin-bottom: 2.2rem;
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, .13);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.card .table-responsive .table-bordered {
    border: 1px solid #DFE3E7
}

.card .text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.card .card {
    box-shadow: none!important
}

.card .card-subtitle {
    color: #828D99;
    font-weight: 400
}

.card .card-title {
    font-weight: 400;
    letter-spacing: .05rem;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    text-transform: capitalize
}

.card .card-bordered {
    border: 0 solid #DFE3E7
}

.card .card-img {
    border-radius: .267rem
}

.card.card-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%!important;
    height: 100%!important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto
}

.card .heading-elements-toggle.heading-top-elements .page-item,
.card .heading-elements.heading-top-elements .page-item,
ul.list-inline li {
    display: inline-block
}

.card .card-img-overlay {
    border-radius: .267rem;
    text-overflow: ellipsis
}

.card .card-img-overlay.bg-overlay {
    background: rgba(0, 0, 0, .5)
}

.card .card-img-overlay .card-text,
.card .card-img-overlay .card-title,
.card .card-img-overlay p {
    color: #FFF
}

.card .card-header .card-title {
    margin-bottom: 0
}

.card .card-header~.card-content .card-body {
    padding-top: 0
}

.card .heading-elements,
.card .heading-elements-toggle {
    background-color: inherit;
    position: absolute;
    top: 17px;
    right: 21px;
    cursor: pointer
}

.card .heading-elements a,
.card .heading-elements-toggle a {
    padding-left: 8px
}

.card .heading-elements a.btn,
.card .heading-elements-toggle a.btn {
    padding-top: 6px;
    padding-bottom: 6px
}

.card .heading-elements a[data-action=collapse] i,
.card .heading-elements-toggle a[data-action=collapse] i {
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    display: inline-block
}

.card .heading-elements a[data-action=collapse].rotate i,
.card .heading-elements-toggle a[data-action=collapse].rotate i {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.card .card-footer {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #475F7B;
    padding: 1rem 1.9rem
}

.card-columns .card {
    margin-bottom: 1.96rem
}

.blank-page .card.bg-authentication {
    box-shadow: -8px 20px 25px 0 rgba(25, 42, 70, .3)
}

.card-group .card {
    box-shadow: 5px 12px 18px 0 rgba(25, 42, 70, .13)
}

@media (max-width:767.98px) {
    .heading-elements-toggle {
        z-index: 2
    }
    .heading-elements {
        text-align: center
    }
    .heading-elements .list-inline {
        display: none
    }
    .heading-elements.visible {
        top: 22px!important;
        display: block;
        margin-top: 0;
        height: auto;
        left: 0;
        padding: 10px;
        z-index: 1;
        position: absolute;
        width: 100%
    }
    .heading-elements.visible .list-inline {
        background-color: #FFF;
        display: block;
        position: absolute;
        top: 15px;
        right: 20px
    }
}

@media (min-width:768px) {
    .heading-elements-toggle {
        display: none
    }
}

.breadcrumb>li+li::before {
    padding-right: .867rem
}

.breadcrumb .breadcrumb-item a {
    color: #596F88
}

.breadcrumb .breadcrumb-item a i {
    color: #5A8DEE;
    position: relative;
    top: 2px
}

.breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    content: '\ea4a';
    font-family: boxicons;
    position: relative;
    top: 2px
}

.accordion .card .card-header,
.badge,
.collapsible .card .card-header,
.modal .modal-content .modal-header .modal-title {
    font-family: Rubik, Helvetica, Arial, serif
}

.breadcrumb.breadcrumb-divider {
    padding: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.breadcrumb.breadcrumb-divider .breadcrumb-item+.breadcrumb-item:before {
    content: '|';
    color: #E0E0E0;
    font-size: 1.5rem;
    position: relative;
    top: -3px
}

.breadcrumb.breadcrumb-divider .breadcrumb-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .4rem 0 .4rem 1rem
}

.breadcrumb.breadcrumb-divider .breadcrumb-item:first-child {
    padding-left: 1.67rem
}

.breadcrumb.breadcrumb-divider .breadcrumb-item.active {
    background-color: #5A8DEE;
    color: #FFF;
    border-radius: .267rem;
    padding-right: 1.67rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1.2rem
}

.breadcrumb.breadcrumb-divider .breadcrumb-item.active:before {
    content: ''
}

.breadcrumb.rounded-pill {
    background-color: #FFF;
    box-shadow: 3px 3px 14px 0 rgba(0, 0, 0, .12)
}

.badge,
.badge-circle {
    background-color: #5A8DEE;
    color: #FFF
}

.breadcrumb.rounded-pill.breadcrumb-divider .breadcrumb-item.active {
    border-radius: 50rem
}

.badge {
    text-transform: uppercase
}

.badge.badge-up {
    position: absolute;
    top: -.8rem;
    right: -.5rem
}

.badge.badge-round {
    padding: .28rem .4rem
}

.badge.badge-icon {
    padding: .25rem .4rem
}

.badge-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    height: 36px;
    width: 36px
}

.badge-circle.badge-circle-sm {
    height: 24px;
    width: 24px
}

.badge-circle.badge-circle-lg {
    height: 48px;
    width: 48px
}

.nav.nav-pills .nav-item,
.nav.nav-tabs .nav-item {
    margin-right: .8rem
}

.nav.nav-pills .nav-item.dropdown.show .dropdown-toggle:hover,
.nav.nav-tabs .nav-item.dropdown.show .dropdown-toggle:hover {
    color: #FFF
}

.nav.nav-pills .nav-item .nav-link,
.nav.nav-pills .nav-item.dropdown.show .dropdown-menu,
.nav.nav-tabs .nav-item .nav-link,
.nav.nav-tabs .nav-item.dropdown.show .dropdown-menu {
    border-radius: .267rem
}

.nav.nav-pills .nav-item .nav-link.disabled,
.nav.nav-tabs .nav-item .nav-link.disabled {
    opacity: .5
}

.nav.nav-pills .nav-item .nav-link:hover,
.nav.nav-tabs .nav-item .nav-link:hover {
    color: #475F7B
}

.nav.nav-pills .nav-item .nav-link i,
.nav.nav-tabs .nav-item .nav-link i {
    margin-right: .2rem
}

.nav.nav-pills .nav-item .nav-link.active,
.nav.nav-tabs .nav-item .nav-link.active {
    box-shadow: 0 2px 4px 0 rgba(90, 141, 238, .5)
}

.nav.nav-pills~.tab-content,
.pills-stacked .tab-content {
    background-color: #FFF;
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, .13);
    border-radius: .267rem
}

.nav.nav-pills .nav-item .nav-link.active:hover,
.nav.nav-tabs .nav-item .nav-link.active:hover {
    color: #FFF
}

.nav.nav-tabs {
    margin-bottom: 1rem;
    border-bottom-color: #EDEDED
}

.nav.nav-tabs .nav-item {
    padding-bottom: .8rem;
    position: relative
}

.nav.nav-tabs .nav-item.current::after,
.nav.nav-tabs .nav-item.current::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0
}

.nav.nav-tabs .nav-item.current::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #EDEDED
}

.nav.nav-tabs .nav-item.current::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #FFF
}

.nav.nav-tabs~.tab-content {
    padding-left: .6rem;
    color: #475F7B
}

.nav.nav-pills .nav-item {
    margin-bottom: 1rem
}

.nav.nav-pills~.tab-content {
    padding: 1.13rem 1.16rem .6rem 1.13rem;
    color: #475F7B
}

.pills-stacked .flex-column .nav-item {
    padding-bottom: 0;
    margin-bottom: 0
}

.pills-stacked .tab-content {
    padding: 1.13rem 1.16rem .6rem 1.13rem;
    color: #475F7B
}

.nav-pills .nav-link,
.nav-tabs .nav-link {
    background-color: #F2F4F4;
    color: #475F7B
}

.alert.alert-dismissible .close {
    color: #FFF;
    opacity: 1;
    top: -4px;
    text-shadow: none;
    font-weight: 400;
    font-size: 1.73rem
}

.alert i {
    margin-right: .8rem
}

.media-list .media {
    padding: 1.25rem;
    width: 100%;
    margin-top: 0
}

.media-list a.media {
    color: #475F7B!important
}

.media-bordered .media {
    border-top: 1px solid #DFE3E7
}

.media-bordered .media:first-child {
    border-top: 0
}

.tooltip .tooltip-inner {
    box-shadow: 0 0 10px 0 rgba(58, 70, 93, .25)
}

.tooltip.tooltip-light .tooltip-inner {
    background-color: #FFF;
    color: #727E8C;
    border: 1px solid #DFE3E7
}

.tooltip.tooltip-light[x-placement^=top] .arrow:before {
    border-top-color: #FFF;
    top: -1px
}

.tooltip.tooltip-light[x-placement^=right] .arrow:before {
    border-right-color: #FFF;
    right: -1px
}

.tooltip.tooltip-light[x-placement^=bottom] .arrow:before {
    border-bottom-color: #FFF;
    bottom: -1px
}

.tooltip.tooltip-light[x-placement^=left] .arrow:before {
    border-left-color: #FFF;
    left: -1px
}

.tooltip.tooltip-horizontal-bookmark {
    z-index: 1000!important;
    top: -7px
}

.progress {
    height: .6rem;
    overflow: visible;
    background-color: #F2F4F4
}

.progress .progress-bar {
    position: relative;
    border-radius: 1.28rem;
    box-shadow: 0 2px 6px 0 rgba(90, 141, 238, .6)
}

.users-list li .badge,
.users-list li img {
    border: 2px solid #FFF
}

.progress.progress-sm {
    height: .4rem
}

.progress .progress-label:before {
    content: attr(aria-valuenow) '%';
    position: absolute;
    color: #000;
    right: 0;
    top: -1.6rem;
    font-size: 1rem
}

ul.list-inline.list-inline-pipe>li+li:before {
    content: ' | ';
    padding-right: 2px
}

.list-group .list-group-item.active i.badge-circle {
    background-color: #FFF
}

.list-group .list-group-item.active:hover {
    background-color: #5A8DEE
}

.list-group .list-group-item.active h1,
.list-group .list-group-item.active h2,
.list-group .list-group-item.active h3,
.list-group .list-group-item.active h4,
.list-group .list-group-item.active h5,
.list-group .list-group-item.active h6 {
    color: #FFF
}

.list-group .list-group-item i {
    font-size: 1.4rem
}

.list-group .list-group-item-action:hover {
    background-color: #F2F4F4
}

.users-list li+li {
    margin-left: -.785rem
}

.users-list li .badge {
    border-radius: 50%;
    padding: .4rem
}

.toast-bs-container {
    z-index: 1040;
    position: fixed;
    top: 0;
    right: 0;
    width: 498px
}

.toast-bs-container .toast-position {
    position: relative;
    top: 6.2rem;
    right: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.toast-placement .toast {
    position: fixed;
    top: 6.2rem;
    z-index: 1040
}

.toast {
    display: none;
    margin-top: .75rem
}

.toast .toast-header i {
    font-size: 1.4rem;
    margin-right: .6rem
}

.toast .toast-header .toast-title {
    font-size: 1.2rem;
    font-weight: 400
}

.toast .toast-header .close {
    padding: .1rem .25rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
    opacity: 1;
    color: #475F7B;
    background-color: #F2F4F4
}

.toast .toast-header .close i {
    font-size: 1.2rem;
    margin: 0
}

.toast .toast-body {
    padding: .86rem 1.4rem
}

.toast.toast-light .toast-header {
    background-color: transparent;
    border-bottom: 1px solid #DFE3E7
}

.toast.toast-light .toast-header i,
.toast.toast-light .toast-header span {
    color: #475F7B
}

.toast.toast-light .toast-header small {
    color: #828D99
}

.toast.toast-translucent {
    opacity: .95;
    display: block
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .card-body,
    .card-content {
        min-height: 1px
    }
    .toast-bs-container {
        position: fixed!important;
        top: 0;
        right: 1%;
        width: auto;
        left: auto
    }
}

.toast-bs-container,
_:-ms-lang(x) {
    position: fixed!important;
    top: 0;
    right: 1%;
    width: auto;
    left: auto
}

@media screen and (max-width:430px) {
    .toast-bs-container .toast-position {
        right: 0
    }
}

.accordion .card,
.collapsible .card {
    margin-bottom: .71rem;
    box-shadow: none;
    border-radius: .267rem!important
}

.accordion .card .card-header,
.collapsible .card .card-header {
    margin: 0;
    border: 1px solid #DFE3E7;
    padding: 1rem 1.7rem;
    border-radius: .267rem!important;
    font-size: 1.2rem;
    cursor: pointer
}

.accordion .card .card-header i,
.collapsible .card .card-header i {
    margin-right: 1rem
}

.accordion .card.open,
.collapsible .card.open {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .1)!important;
    border-radius: .267rem!important
}

.accordion .card.open .card-header,
.collapsible .card.open .card-header {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom: 1px solid #DFE3E7!important;
    border-top: 0;
    border-left: 0;
    border-right: 0
}

.pagination .page-item.first .page-link,
.pagination .page-item.last .page-link,
.pagination .page-item.next .page-link,
.pagination .page-item.previous .page-link {
    color: #5A8DEE;
    padding: .435rem .5rem
}

.pagination .page-item.first.disabled .page-link,
.pagination .page-item.last.disabled .page-link,
.pagination .page-item.next.disabled .page-link,
.pagination .page-item.previous.disabled .page-link {
    background-color: #F2F4F4
}

.pagination .page-item:first-child .page-link {
    border-left: 1px solid #DFE3E7
}

.pagination .page-item:last-child .page-link {
    border-right: 1px solid #DFE3E7
}

.pagination .page-item .page-link {
    border: 1px solid #DFE3E7;
    border-right: 0;
    border-left: 0;
    color: #324356;
    background-color: transparent;
    font-weight: 600
}

.pagination .page-item .page-link:focus {
    box-shadow: none
}

.pagination .page-item .page-link:hover {
    border-radius: .267rem;
    background-color: rgba(90, 141, 238, .2)
}

.pagination .page-item .page-link i {
    font-weight: 600;
    vertical-align: middle
}

.pagination .page-item.active {
    border-radius: 0
}

.pagination .page-item.active .page-link,
.pagination .page-item.active .page-link:hover {
    border-radius: .267rem;
    background-color: #5A8DEE!important;
    color: #FFF
}

.pagination .page-item.previous {
    margin-right: .3571rem
}

.pagination .page-item.previous .page-link {
    border: 1px solid #DFE3E7;
    border-radius: .267rem
}

.pagination .page-item.previous~.page-item:nth-child(2) .page-link {
    border-left: 1px solid #DFE3E7;
    border-top-left-radius: .267rem;
    border-bottom-left-radius: .267rem
}

.pagination .page-item.previous~.page-item:nth-last-child(-n+2) .page-link {
    border-right: 1px solid #DFE3E7;
    border-top-right-radius: .267rem;
    border-bottom-right-radius: .267rem
}

.pagination .page-item.next {
    margin-left: .3571rem
}

.pagination .page-item.next .page-link {
    border: 1px solid #DFE3E7;
    border-radius: .267rem
}

.pagination.pagination-borderless .page-item .page-link {
    border: none!important
}

.pagination.pagination-borderless .page-item.next .page-link,
.pagination.pagination-borderless .page-item.previous .page-link {
    background-color: #DFE3E7
}

.pagination.pagination-borderless .page-item.next .page-link:hover,
.pagination.pagination-borderless .page-item.previous .page-link:hover {
    background-color: rgba(90, 141, 238, .2)
}

.pagination.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .267rem;
    border-bottom-left-radius: .267rem
}

.pagination.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .267rem;
    border-bottom-right-radius: .267rem
}

.spinner-border-lg,
.spinner-grow-lg {
    width: 3rem;
    height: 3rem
}

.modal-open {
    overflow: hidden!important
}

.modal .modal-content {
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, .13)
}

.modal .modal-content i {
    top: 0
}

.modal .modal-content .modal-header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.modal .modal-content .modal-header .modal-title {
    font-weight: 400;
    font-size: 1.2rem
}

.modal .modal-content .modal-header .close {
    padding: 0;
    margin: 0;
    height: 2.4rem;
    width: 2.4rem;
    background-color: #F2F4F4;
    border-radius: 50%
}

.modal.modal-borderless .modal-footer,
.modal.modal-borderless .modal-header {
    border: none!important
}

.modal .modal-full {
    max-width: 94%;
    margin-left: 3%;
    margin-right: 3%
}

@media (max-width:576px) {
    .modal {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .modal .modal-sm {
        max-width: unset
    }
}

.popover {
    z-index: 10;
    box-shadow: 0 0 10px 0 rgba(58, 70, 93, .25)
}

.popover .popover-header {
    border-bottom: 1px solid #DFE3E7;
    font-weight: 400
}

.popover .popover-body {
    color: #727E8C
}

.popover.bs-popover-top>.arrow::after {
    bottom: 2px
}

.popover.bs-popover-left>.arrow::after {
    right: 2px
}

.icon-left,
.icon-right {
    margin-right: .5rem
}

.icon-spin {
    display: inline-block;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

.blockOverlay {
    z-index: 1050!important
}

.blockElement,
.blockPage {
    z-index: 1051!important
}

.hidden {
    display: none;
    visibility: hidden
}

.disabled,
.disabled a,
:disabled,
:disabled a {
    color: #828D99!important
}

.disabled:hover,
:disabled:hover {
    cursor: auto!important
}

.round {
    border-radius: 1.5rem
}

.square {
    border-radius: 0
}

.icon-line-height {
    line-height: 1.5rem!important
}

.bx {
    font-size: 1.2rem
}

.gu-mirror {
    list-style-type: none!important
}

.line-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

input.react-datepicker-ignore-onclickoutside {
    border: 1px solid #DFE3E7!important;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
}

.react-datepicker__input-container input {
    border: 1px solid #DFE3E7!important;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
}



td.dataTables_empty {
    display: none !important;
}

.paginate_button {
    padding: 10px;
    cursor: pointer;
}

.react-datepicker__month .react-datepicker__month-text, .react-datepicker__month .react-datepicker__quarter-text {
    display: inline-block;
    width: 48px;
    margin: 2px;
}